#form {
    background-color: #c8d8e4;
    margin:auto;
    width:50%;
    text-align: center;
    height: 250px;
    padding-top: 20px;
    margin-top: 150px;
}

#userLogin {
    display: table;
    margin: auto;
}

.dataForm {
    margin: auto;
    display: table-row;
}

.dataForm label {
    display: table-cell;
    text-align: right;
}

.dataForm input {
    display: table-cell;
}

textarea {
    display: none;
    margin-left: auto;
    margin-right: auto;
}
