#account {
    background-color: #c8d8e4;
    margin:auto;
    width:50%;
    text-align: center;
    height: 475px;
    padding-top: 20px;
    margin-top: 100px;
}

#accountInfo {
    display: table;
    margin: auto;
}

.info {
    margin: auto;
    display: table-row;
}

.info label {
    display: table-cell;
    text-align: right;
}

.info input {
    display: table-cell;
}

h2 {
    font-size: 25px;
}

#summary {
    background-color: #c8d8e4;
    margin:auto;
    width:50%;
    text-align: center;
    height: 900px;
    padding-top: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#graphContainer {
    display: none;
    position: relative;
    margin: auto;
    width: 45vw;
    height: 40vh;
}