#form {
    background-color: #501b1d;  /*Content box 501b1d*/
    color:#adadad;              /*text in above box*/
    margin:auto;
    width:50%;
    text-align: center;
    height: 250px;
    padding-top: 20px;
    margin-top: 150px;
}

button, select, option, input {
    color: black;
}

#userLogin {
    display: table;
    margin: auto;
}

.dataForm {
    margin: auto;
    display: table-row;
}

.dataForm label {
    display: table-cell;
    text-align: right;
    padding-right: 10px;
}

.dataForm input {
    display: table-cell;
}

.userType{
    text-align: center;
}

textarea {
    display: none;
    margin-left: auto;
    margin-right: auto;
}


