#container {
    background-color: #501b1d;  /*Content box*/
    color:#adadad;              /*text in above box*/
    margin:auto;
    width:50%;
    text-align: center;
    height: 250px;
    padding-top: 20px;
    margin-top: 100px;
}

#references {
    display: inline-block;
    width:70%;
    min-width:200px;
    vertical-align: top;
    margin:auto;
    margin-bottom: 20px;
    text-align: left;
}

