* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

/*general styling section*/
body {
    min-width: 300px;
    min-height: 500px;
    overflow-y: auto;
    width:98vw;
    height: 98vh;
    position: relative;
    background-color: whitesmoke; /*Whole page background*/
    margin:0px;
    padding:0px;
}

#containerContent {
    height: fit-content;
    min-height: 400px;
    width:98vw;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    margin-top: 100px;
    padding: 0px;
    display: block;
    margin-bottom: 40px;
    overflow: auto;
    text-align: center;
}
  
/*top banner styling section*/
#banner {
    height: 10vh;
    width: 100%;
    background: #501b1d;    /*Banner*/
    box-shadow: 0px 1px 1px #501b1d;
    position: fixed;
    top:0;
    margin-top:0px;
    z-index: 0;
}

#banner #header {
	float: left;
	width: 30%;
	height: 100%;
	font-size: 2.25vh;
	padding-bottom: 50px;
	padding-top: 1vh;
}

#banner #links {
	float: right;
    width:70%;
    height: 100%;
	font-size: 2vh;
	padding-top: 2.5vh;
}

#banner a {
    text-decoration: none;
    color:#adadad;    /*Banner text*/
}

#banner a:hover {
	color: #64485c  /*Banner text on hover*/
}

/*main content styling section*/
#about {
    display: inline-block;
    width:29%;
    min-width:200px;
    vertical-align: top;
    margin:auto;
    margin-bottom: 20px;
    text-align: left;
}
  
#about p {
    margin:20px auto;
    width:90%;
    height: fit-content;
    color: #64485c;   /*summary text*/
    text-shadow: none;
    font-size: 20px;
}

#about ul {
    margin:10px auto;
    width:85%;
    height: fit-content;
    color: #64485c;   /*summary text*/
    text-shadow: none;
    font-size: 16px;
}
 
/*member styling section*/
#memberList {
    margin-top:20px;
    margin-left:5px;
    display: inline-block;
    background-color: #501b1d;  /*box around team*/
    color:#adadad;              /*text in above box*/
    text-shadow: 1px 1px black; /*shadow around above text*/
    border-radius: 5px;
    box-shadow: 2px 2px 1px black; /*shadow around above box*/
    width:70%;
    min-width: 200px;
    height: 61vh;
    min-height: 100%;
    max-height: fit-content;
    padding: 10px;
    text-align: center;
    overflow: auto;
    margin-bottom: 20px;
	font-size: 24px;
}

.member {
    color:#adadad;               /*text color of names*/
    display:inline-block;
    vertical-align: top;
    width: 25%;
    min-width: 100px;
    height: fit-content;
    max-height: fit-content;
    min-height: 250px;
    padding:5px;
    margin:5px 2%;
    border:1px inset #83677b;          /*Make same as below*/
    background-color: #83677b;         /*background of members*/
    border-radius: 4px;
    box-shadow: 4px 4px 4px 2px black; /*Shadow behind member boxes*/
    overflow: hidden;
}

.member:hover {
    transform: translate(-1%,-1%);
    max-height: fit-content;
}

#teamMember {
    width:100%;
    height: fit-content;
    margin:0px auto;
}

.member img {
    border-radius: 400px;
    height: 150px;
    width: auto;
    margin:auto;
    display: block;
    box-shadow: 2px 2px 2px black; /*shadow behind member pictures*/
}

.member h2 {
    font-size: 20px;
    height: fit-content;
}

.member p {
    font-size: 16px;
    overflow-wrap: break-word;
}

.member a {
    color:#adadad;   /*member emails, make same as member names*/
}